<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eternal Flow</title>
    </head>

    <body>
        <h1>{{default_project}}</h1>
        <br/>
        <p>is default now</p>
        <br/>
        <p>Reboot device to start this project's engine.</a>

    </body>

</html>
