<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Eternal Flow Device Manager</title>
    </head>

    <body>
        <h1>Projects available:</h1>
        <p>Select to make default</p>

        <ul>
            {% for proj in projects %}
            <li><a href="/default/{{proj}}">{{ proj }}</a></li>
            {% endfor %}
        </ul>

        <br/>

    </body>

</html>
